@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: grid;
    height: 100vh;
    place-content: center;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
}
main.card{
    background-color: #fff;
    display: grid;
    grid-template-areas: 'img-area text-area';
    border-radius: 1rem;
    box-shadow: 0 20px 20px hsla(293, 75%, 11%, 0.3);
}
header.img-area{
    grid-area: 'img-area';
    width: 375px;
    height: 500px;
    background-image: url(images/illustration-woman-online-desktop.svg), url(images/bg-pattern-desktop.svg);
    background-size: none;
    background-position: center right, right  bottom -9.3rem;
    background-repeat: no-repeat;
    display: grid;
    align-items: center;
    justify-content: center;
}
img.box{
    margin-left: -20rem;
    margin-top: 6rem;
}
img.mobile{
    display: none;
}
section.text-area{
    padding-top: 3.5rem;
    grid-area: 'text-area';
    width: 500px;
    height: 500px;
    font-weight: 400;
    color: hsl(240, 6%, 50%);
}
h1.title{
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    padding-left: 3rem;
    color: hsl(237, 12%, 33%);
}
label{
    font-size: 0.9rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: 400;
}
p{
    margin-left: -0.5rem;
    padding-bottom: 1rem;
    font-size: 12px;
    line-height: 1rem;
    font-weight: 400;
    color: hsl(240, 6%, 50%);
}
hr{
    border-top: 1px solid hsl(240, 5%, 91%);
    width: 350px;
}
section.dropdown-area{
    padding-left: 3rem;
    padding-top: 1rem;
    padding-right: 7rem;
}
#accordion li {
    list-style: none;
}
#accordion li label{
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#accordion label + input[type="radio"]{
    display: none;
}
#accordion .drop-content{
    padding: 0 10px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
}
#accordion label + input[type="radio"]:checked + .drop-content{
    max-height: 400px;
}
#accordion li label:hover {
    color: hsl(14, 88%, 65%);
}
#accordion label li + input[type="radio"]:checked{
    color:red
}


@media(max-width:1100px){
    body{
        margin-top: 10rem;
        margin-bottom: 5rem;
    }
    main.card{
        display: grid;
        grid-template-areas: 'img-area' 'text-area';
        height: fit-content;
        width: 375px;
        border-radius: 2rem;
        padding-bottom: 3rem;
    }
    header.img-area{
        display: grid;
        justify-items: center;
        background-image: url(images/bg-pattern-mobile.svg);
        background-position: center;
        height: 100px;
    }
    img.box{
        display: none;
    }
    img.mobile{
        display:flex;
        position:absolute;
        width: 250px;
        margin-top: -8.5rem;
    }
    h1.title{
        text-align: center;
        padding: 0;
    }
    section.text-area{
        width: 375px;
        margin-bottom: -3rem;
        height: fit-content;
        padding-bottom: 4rem;
        padding-top: 2rem;
    }
    hr{
        width: 310px;
    }
    section.dropdown-area{
       padding-left: 2rem;
       padding-right: 2rem;
    }
    p{
        font-size: 13px;
        line-height: 1.3rem;
        padding-right: 2rem;
    }
}

